name: Build and Push

on:
  push:
    branches: [main]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

#      - name: Login to registry
#        uses: docker/login-action@v3
#        with:
#          registry: ${{ secrets.REGISTRY_URL }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name == 'push' }}
          tags: ${{ secrets.REGISTRY_URL }}/flibot-urt:${{ github.ref_name }}